:root {
    --text-color: #c1004a;
    --link-color: #132779;
    --background-color: #fdf9f0; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Be Vietnam Pro';
    --background-color: #fdf9f0;
    --text-color: #c1004a;
}

a { 
    color : var(--link-color);
    text-decoration: none;
}

/* NAVIGATION BAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;
}

nav .left a{
  color: #ef9fdb;
  font-size: 30px;
  font-style: italic;
  font-weight: 800;
}

nav .right a {
    font-size: 15px;
    margin: 0 3px;
    font-style: normal;
    font-weight: 300;
}

/* HEADSHOT & HOMEPAGE */
.homepage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    margin-bottom: 100px;
    gap: 30px;

}

.homepage .text {
    flex: 5;

}

.homepage .text h2 {
    display: inline-block;
    font-size: 50px;
    color: #c1004a;
}

.homepage .text p {
    color: #5c0225;
}

.homepage .text .links {
    margin-top: 20px;
}

.homepage .text .links a {
    display: inline-block;
    padding: 7px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 7px;
    margin-bottom: 7px;
    transition: 1s;

}

.homepage .text .links a:hover {
    color: #c1004a;
    border: 2px solid #c1004a;
}

.homepage .headshot {
    flex: 2;
    display: flex;
    justify-content: right;
}

.homepage .headshot img {
    width: 300px;
    height: auto;
    border-radius: 50%;
}

/* style based on screen width */
@media (max-width: 850px) {
    /* homepage section */
    .homepage .text h2 {
        font-size: 35px;
    }

}

@media (max-width: 740px) {
    /* homepage section */
    .homepage {
        flex-direction: column-reverse
    }
    .homepage .text h2 {
        font-size: 40px;
    }
    .homepage .headshot img {
        width: 300px;
    }

}

@media (max-width: 600px) {
    /* navigation bar */
    nav {
        padding: 0 20px;

    }

    nav .right a {
        font-size: 25px;
    }

    nav .right a span {
        display: none;
        margin: 0 0;
    }
    /* homepage */
    .homepage {
        padding: 0 20px;
    }
    .homepage .text h2 {
        font-size: 40px;
    }

}