.home-wrapper{
    background-color: #fcf8eb;
    min-height : 100vh;
    display : flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.home-container {
    position: relative;
    background: linear-gradient(to bottom, #FFEFF6, #F8A6CC);
    max-width: 900px;
    margin: auto;
    padding: 3rem 1.5rem;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
    text-align: center;
    position: relative;
}

.header-tab {
    position: absolute;
    top: -45px;
    height: 15px;
    width: 200px;
    left: 0;
    background: #FFEFF6;
    padding: 1rem 2rem;
    clip-path: polygon(0 0, 60% 0, 100% 100%, 0% 100%);
    /* ✅ CENTER CONTENT */
    /* TODO: fix this!!!! */
    display: flex;
    align-items: center;    /* vertical center */
    justify-content: left; /* horizontal center */
    gap: 1rem;
    /* z-index: 10; */
}

.header-tab img {
  width: 32px;
  height: 32px;
  filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.1));
  transition: transform 0.2s ease;
}

.header-tab img:hover {
  transform: scale(1.15);
}

.profile-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  /* margin-bottom: 1rem; */
  box-shadow: 0 0 15px rgba(255, 182, 193, 0.4);
}

h1 {
  font-size: 2.5rem;
  font-family: 'Gamja Flower', cursive;
  color: #d94c86;
  margin-bottom: 1rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #000000;
}

.cloud-links {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 1.2rem;
}


.cloud-links a {
  text-decoration: none;
  color: #931c4d;
  border-bottom: 2px dashed #ffc4d6;
  transition: all 0.2s ease-in-out;
}

.cloud-links a:hover {
  color: #e04a8b;
  border-bottom-style: solid;
}

.footer-link {
  text-decoration: none;
  color: #931c4d;
  border-bottom: 2px dashed #ffc4d6;
  transition: all 0.2s ease-in-out;
}

.footer-link:hover {
  color: #e04a8b;
  border-bottom-style: solid;
}

.footer-txt{
  color: #000000
}